body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(190, 116, 103, 0.824);   
}

#maincountainer{
    background-color: rgb(140, 112, 217);
    margin-top: 50px;
    width: 375px;
    height: 500px;
    border-radius: 15px;
    padding-left: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    color: rgb(40, 18, 210);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.208);
    letter-spacing: -2px;
}

.gradient:hover{
    color: rgba(236, 14, 136, 0.963);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.455);
    transition: 0.4s ease-in;
}

.name{
    margin-top: 30px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

hr{
    position:absolute;
    display: flex ;
    justify-content: center;
    align-items: center;
    width: 300px;
    
}

#name{
    border-radius: 5px;
    border: 2px solid rgba(123, 42, 222, 0.775);
    height: 25px;
    width: 200px;
    margin-top: 5px;    
}

#name:hover{
        box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.455);
        transition: 0.3s ease-in;
}

#email{
    border-radius: 5px;
    border: 2px solid rgba(123, 42, 222, 0.775);
    height: 25px;
    width: 200px;
    margin-top: 5px;
}
#email:hover{
        box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.455);
        transition: 0.3s ease-in;
}

#password{
    border-radius: 5px;
    border: 2px solid rgba(123, 42, 222, 0.775);
    height: 25px;
    width: 200px;
    margin-top: 5px;
}
#password:hover{
        box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.455);
        transition: 0.3s ease-in;
}

.button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    background: #480ac59b;
    border-radius: 4px;
    border: none;
    height: 30px;
    width: 120px;
    font-weight: bold;
    margin-top: 15px;
    color: white;
}
button:hover{
        box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.455);
        transition: 0.3s ease-in;
}