.main{
    background-color: rgb(97, 96, 142);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 50px;
    width: 700px;
    gap: 20px;
    text-align: center;
    flex-direction: column;
}
#box1{
    background: #923b3b;
    width: 100px;
    height: 40px;
    flex-grow: 1;
    flex-basis: 20px;
    line-height: 40px;
}
#box2{
    background: #3b923b;
    width: 100px;
    height: 40px;
    flex-grow: 1;
    flex-basis: 20px;
}
#box3{
    background: #3b3b92;
    width: 100px;
    height: 40px;
    flex-grow: 1;
    flex-basis: 20px;
}
#box4{      
    background: #d816d8ca;
    width: 100px;
    height: 40px;
    line-height: 2;
    flex-grow: 1;
    flex-basis: 10px;
}