body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: rgb(11, 15, 25);
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 19, 45);
    height: 70px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.444);
    flex-wrap: wrap;
}
nav .logo{
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 20px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(98, 101, 238);
}

nav .about{
    display: flex;
    flex-direction: row;   /* column wise */
    gap: 25px;
    list-style: none;
    margin-right: 50px;
    cursor: pointer;

    
}

nav .about li:hover{
    transition-duration: 1s ease-in-out;
    transform: scale(1.2);
    animation-delay: 0.2s;
    box-shadow: 0 0px 0px 0.3px rgba(0,0,0,0.5);
}

nav .about li{
font-size: 15px;
padding: 8px 10px;
border-radius: 6px;
}

nav .about li{
    background: rgba(118, 106, 106, 0.12);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 8px;
}

/*nav .about li:hover{
    background: linear-gradient(90deg, #1b136e, #4800ff);
    color: white;
}*/



#button{
  width: 260px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.109); /* transparent */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.001);

  box-shadow: 0 8px 32px rgba(0,0,0,0.3);
  color: white;
}

.button{
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(8px);
    animation: fadeUp 0.6s ease forwards;
}

@keyframes fadeUp{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.button:hover{
    transform: scale(2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}